---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="display-5 mb-4">Cooperación Interdisciplinaria</h1>
                <p style="text-align: justify;">
                    La Facultad de Recursos Naturales Renovables y la Facultad de Ingeniería en Informática y Sistemas (FIIS) han unido fuerzas para desarrollar soluciones innovadoras que integran el monitoreo IoT y la producción agrícola inteligente, específicamente en la multiplicación de hijuelos de plátano mediante cámaras térmicas. Juntos, optimizamos el proceso de propagación de los hijuelos utilizando tecnología avanzada, asegurando la sostenibilidad y eficiencia en la producción.
                </p>
                <p style="text-align: justify;">
                    El uso de sensores inteligentes y sistemas de control digital permite monitorear las condiciones dentro de las cámaras térmicas, como la temperatura y la humedad, creando un ambiente controlado ideal para el crecimiento saludable de los hijuelos de plátano. Esta colaboración interdisciplinaria ha permitido avances significativos en la propagación de hijuelos libres de enfermedades, garantizando una producción agrícola más eficiente y sostenible.
                </p>
            </div>
            
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <img class="img-fluid" src="img/team/us.png" alt="Innovación Agrícola">
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Equipo Start -->
<div class="container-xxl py-5">
    <div class="container">
        <h1 class="display-5 text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Nuestro Equipo</h1>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
            <div class="testimonial-item text-center">
                <img class="img-fluid rounded-circle border border-2 p-2 mx-auto mb-4"
                     src="img/team/pocomucha.png" style="width: 100px; height: 100px;">
                     <div class="testimonial-text rounded text-center p-4">
                        <h5 class="mb-1">- Dr. Vicente Pocomucha Poma</h5>
                        <span class="fst-italic">Ingeniero en Recursos Naturales Renovables</span>
                    </div>
                    
            </div>
            <div class="testimonial-item text-center">
                <img class="img-fluid rounded-circle border border-2 p-2 mx-auto mb-4"
                     src="img/team/william.png" style="width: 100px; height: 100px;">
                     <div class="testimonial-text rounded text-center p-4">
                        <h5 class="mb-1">- Dr. William Rogelio Marchand Niño</h5>
                      <span class="fst-italic">Ingeniero en Informática y Sistemas</span>
                  </div>
                    
            </div>
            
            
            <div class="testimonial-item text-center">
                <img class="img-fluid rounded-circle border border-2 p-2 mx-auto mb-4"
                     src="img/team/einstein.png" style="width: 100px; height: 100px;">
                     <div class="testimonial-text rounded text-center p-4">
                        <h5 class="mb-1">- Ing. Einstein Arnold Ortiz Morales</h5>
                      <span class="fst-italic">Ingeniero en Informática y Sistemas</span>
                  </div>
                    
            </div>
            <div class="testimonial-item text-center">
                <img class="img-fluid rounded-circle border border-2 p-2 mx-auto mb-4"
                     src="img/team/andy.png" style="width: 100px; height: 100px;">
                     <div class="testimonial-text rounded text-center p-4">
                        <h5 class="mb-1">- Luis Ponce Aspajo	</h5>
                      <span class="fst-italic"> Est. Ingenieria en Informática y Sistemas</span>
                  </div>
                    
            </div>
            <div class="testimonial-item text-center">
                <img class="img-fluid rounded-circle border border-2 p-2 mx-auto mb-4"
                     src="img/team/giovanni.png" style="width: 100px; height: 100px;">
                     <div class="testimonial-text rounded text-center p-4">
                        <h5 class="mb-1">-Giovanni Kuenen Pérez Espinoza	</h5>
                      <span class="fst-italic"> Est. Ingenieria en Informática y Sistemas</span>
                  </div>
                    
            </div>
        </div>
    </div>
</div>
<!-- Equipo End -->
</Layout>