---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <!-- About Start -->
    <div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="display-5 mb-4">Facultad de ingieneria en informatica y sistemas</h1>
                <p style="text-align: justify;">
                    Bienvenidos al Sistema de Visitas - FIIS.
                </p>
                <p style="text-align: justify;">
                    La Facultad de Ingeniería en Informática y Sistemas (FIIS) de la Universidad Nacional Agraria de la Selva abre sus puertas a estudiantes, profesionales y público en general interesados en conocer nuestras instalaciones y programas académicos.
                </p>
            </div>
            
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <img class="img-fluid" src="img/fiis-unas.jpg" alt="Innovación Agrícola">
            </div>
        </div>
    </div>
    </div>
    <div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="display-5 mb-4">¿Por qué visitarnos?
                </h1>
                <p style="text-align: justify;">
                    Desde el año 2000, nuestra facultad ha sido un centro de excelencia en la formación de profesionales en tecnología e informática. Durante tu visita podrás:
                </p>
                <ul>
                    <li>Conocer nuestros modernos laboratorios de cómputo</li>
                    <li>
                        Explorar nuestras aulas y espacios de aprendizaje
                    </li>
                    <li>Interactuar con estudiantes y docentes</li>
                    <li>Informarte sobre nuestros programas académicos</li>
                    <li>Descubrir las oportunidades que ofrecemos</li>
                </ul>
            </div>
        </div>
    </div>
    </div>
    <div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="display-5 mb-4">Proceso de Visitas</h1>
                <p style="text-align: justify;">
                    A través de este sistema, puedes programar fácilmente una visita a nuestras instalaciones. El proceso es simple:
                </p>
                <ul>
                    <li>Selecciona la fecha y hora que prefieras</li>
                    <li>Completa el formulario con tus datos</li>
                    <li>Recibe la confirmación de tu cita</li>
                    <li>Preséntate en la fecha acordada con tu confirmación</li>
                </ul>
            </div>
        </div>
    </div>
    </div>
    <div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="display-5 mb-4">Ubicación y Acceso</h1>
                <p style="text-align: justify;">
                    Nos encontramos en la ciudad de Tingo María, en el campus principal de la Universidad Nacional Agraria de la Selva. Contamos con fácil acceso y señalización para guiar a nuestros visitantes.
                </p>
                <p style="text-align: justify;"> ¡Esperamos tu visita! Descubre por qué la FIIS es una excelente opción para tu desarrollo profesional en el campo de la tecnología e informática. </p>
                
            </div>
        </div>
    </div>
    </div>
<!-- About End -->


<!-- Equipo Start -->
<div class="container-xxl py-5">
    <div class="container">
        <h1 class="display-5 text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Nuestros equipo</h1>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
            <div class="testimonial-item text-center">
                <img class="img-fluid rounded-circle border border-2 p-2 mx-auto mb-4"
                     src="img/team/william.png" style="width: 100px; height: 100px;">
                     <div class="testimonial-text rounded text-center p-4">
                        <h5 class="mb-1">- Dr. William Rogelio Marchand Niño</h5>
                      <span class="fst-italic">Ingeniero en Informática y Sistemas</span>
                  </div>
                    
            </div>
            <div class="testimonial-item text-center">
                <img class="img-fluid rounded-circle border border-2 p-2 mx-auto mb-4"
                     src="img/team/einstein.png" style="width: 100px; height: 100px;">
                     <div class="testimonial-text rounded text-center p-4">
                        <h5 class="mb-1">- Ing. Einstein Arnold Ortiz Morales</h5>
                      <span class="fst-italic">Ingeniero en Informática y Sistemas</span>
                  </div>
                    
            </div>
        </div>
    </div>
</div>
<!-- Equipo End -->
</Layout>