---
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	
    <!-- Header Start -->
    <div class="container-fluid bg-dark p-0 mb-5">
        <div class="row g-0 flex-column-reverse flex-lg-row">
            <div class="col-lg-6 p-0 wow fadeIn" data-wow-delay="0.1s">
                <div class="header-bg h-100 d-flex flex-column justify-content-center p-5">
                    <h1 class="display-4 text-light mb-5">Explora nuestas instalaciones y programas</h1>
                    <div class="d-flex align-items-center pt-4 animated slideInDown">
                        <a href="services.html" class="btn btn-primary py-sm-3 px-3 px-sm-5 me-5">Leer Más</a>
                        <button type="button" class="btn-play" data-bs-toggle="modal" data-src="https://www.youtube-nocookie.com/embed/Y_74wWgXBcA" data-bs-target="#videoModal">
                            <span></span>
                        </button>
                        <h6 class="text-white m-0 ms-4 d-none d-sm-block">Ver Video</h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <div class="owl-carousel header-carousel">
                    <div class="owl-carousel-item">
                        <img class="img-fluid" src="img/instalacion1.jpeg" alt="">
                    </div>
                    <div class="owl-carousel-item">
                        <img class="img-fluid" src="img/instalacion2.jpeg" alt="">
                    </div>
                    <div class="owl-carousel-item">
                        <img class="img-fluid" src="img/instalacion1.jpeg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <!-- Video Modal Start -->
    <div class="modal modal-video fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Video de Youtube</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <!-- 16:9 aspect ratio -->
                    <div class="ratio ratio-16x9">
                        <iframe class="embed-responsive-item" src="" id="video" allowfullscreen allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Video Modal End -->

    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <p><span class="text-primary me-2">#</span>Bienvenido a FIIS UNAS</p>
                    <h1 class="display-5 mb-4">Explora nuestas instalaciones y programas</h1>
                    <p class="mb-4" style="text-align: justify;">
						Abrimos nuestras puertas para que puedas conocer nuestras instalaciones y servicios.
                    </p>
                     <h5 class="mb-3"><i class="far fa-check-circle text-primary me-3"></i>Lineas de carrera acorde con el mercado</h5>
                    <h5 class="mb-3"><i class="far fa-check-circle text-primary me-3"></i>Instalaciones totalmente equipadas</h5>
                    <h5 class="mb-3"><i class="far fa-check-circle text-primary me-3"></i>Data center certificado</h5>
                    <h5 class="mb-3"><i class="far fa-check-circle text-primary me-3"></i>Mas de 500 alumnos actualmente</h5>
                    <a class="btn btn-primary py-3 px-5 mt-3" href="services.html">Leer Más</a>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="img-border">
                        <img class="img-fluid" src="img/instalacion3.jpeg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- Services Start -->
    <div class="container-xxl py-5" id="services">
        <div class="container">
            <div class="row g-5 mb-5 align-items-end wow fadeInUp" data-wow-delay="0.1s">
                <div class="col-lg-6">
                    <p><span class="text-primary me-2">#</span>Nuestras instalaciones</p>
                    <h1 class="display-5 mb-0">Explora las <span class="text-primary">instalaciones y programas</span> de nuestra facultad</h1>
                </div>
                <div class="col-lg-6 text-lg-end">
                    <a class="btn btn-primary py-3 px-5" href="services.html">Ver mas</a>
                </div>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="row g-4">
                        <div class="col-12">
                            <a class="animal-item" href="img/service-1.jpg" data-lightbox="service">
                                <div class="position-relative">
                                    <img class="img-fluid" src="img/instalacion4.jpeg" alt="">
                                    <div class="animal-text p-4">
                                        <p class="text-white small text-uppercase mb-0">Programa</p>
                                        <h5 class="text-white mb-0">Desarrollo de software</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="row g-4">
                        <div class="col-12">
                            <a class="animal-item" href="img/service-2.jpg" data-lightbox="service">
                                <div class="position-relative">
                                    <img class="img-fluid" src="img/instalacion2.jpeg" alt="">
                                    <div class="animal-text p-4">
                                        <p class="text-white small text-uppercase mb-0">Programa</p>
                                        <h5 class="text-white mb-0">Tegnologias de la informacion</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="row g-4">
                        <div class="col-12">
                            <a class="animal-item" href="img/service-3.jpg" data-lightbox="service">
                                <div class="position-relative">
                                    <img class="img-fluid" src="img/instalacion2.jpeg" alt="">
                                    <div class="animal-text p-4">
                                        <p class="text-white small text-uppercase mb-0">Intalaciones</p>
                                        <h5 class="text-white mb-0">Data center</h5>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services End -->
</Layout>
